.title {
    text-align:center;
    background-color:#66CCCC;
    line-height:100px;
    color:white;
    font-family:cursive;
    font-size:30px;
}

.content {
    width:95%;
    margin-left:auto;
    margin-right:auto;
}

.table-title {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.lines{
    width:100%;
    border-top:3px solid #66CCCC;
    margin-left:auto;
    margin-right:auto;
}

.line {
    border-bottom:1px solid black;
    padding:0px;
    margin:0px;
    height:50px;
    text-align:center;
}



a {
    display:block;
    float:left;
    line-height:50px;
}



.id {
    width:80px;
    text-align:center;
    padding:0px 30px 0px 0px;
}

.name {
    width:200px;
    text-align:left;
    margin:0px 0px 0px 5px;
}

.name-title {
    margin:0px 0px 0px 115px;
}

.editname {
    width:145px;
    float:left;
    height:30px;
    margin:7px 45px 0px 0px;
    text-align:left;
}

.comment {
    width:400px;
    text-align:left;
}

.editcomment {
    width:320px;
    float:left;
    height:30px;
    margin:7px 0px 0px 0px;
    text-align:left;
}

.date {
    width:200px;
    text-align:center;
}

.button {
    float:left;
    height:30px;
    width:60px;
    margin:10px 10px 10px 10px;
}

.pass{
    float:left;
    width:200px;
    height:30px;
    margin:7px 10px 0px 50px;
    text-align:center;
}

.newpass{
    margin:7px 10px 0px 329px;
}



.clear {
    clear:both;
}